body {
    background-color: rgb(203, 161, 62);
    color: white;
    font-family: "Indie Flower", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: rgb(220, 138, 37);
    color: rgb(0, 0, 0);
    font-family: "Indie Flower", cursive;
}

.passo {
    display: none;
}

.passo.ativo{
    display: block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 80%;
}